<div >
  <div class="flex justify-center flex-col bg-blue-400 p-4 m-2">
    <h1 class="bg-blue-950 text-2xl text-center p-2 text-white uppercase font-bold rounded">Bem vindo a agenda de reservas do salão de festas!</h1>
    <p class="bg-blue-950 text-xs text-center p-2 text-white rounded">Crie sua conta para acompanhar as reservas do pessoal, e ver as datas disponiveis!</p>
  </div>
</div>